* {
    margin: 0%;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    width: 99vw;
    color: #000000;
    line-height: 1.5;
    background-color: rgb(223, 170, 114);
}

#navbar {
    width: 100vw;
    position: fixed;
    background-color: #000000;
    color: rgb(232, 247, 247);
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

#aside {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 35px;
    padding-left: 10px;
    background-color: rgb(101, 20, 48);
    color: aliceblue;
    float: left;
    overflow: scroll;
    white-space: nowrap;
}

.containerA {
    position: relative;
    top: 50px;
    width: 67vw;
    box-sizing: border-box;
    text-decoration: none;
    float: right;
    background-color: #fff;
    padding: 2%;
    color: black;
    height: 75vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 5vh;
    overflow-y: scroll;
    border-radius: 25px;
}

.containerA:hover {
    width: 78vw;
    height: 85vh;
}

.heading {
    color: black;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

#aside li {
    color: #c5c9de;
    list-style: none;
}

.topic {
    color: #ebedf7;
    text-decoration: none;
    word-wrap: normal;
}

.topic:hover {
    font-weight: bolder;
    text-shadow: 2px 1px 2px darkorange;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 2s ease;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: rgb(69, 20, 37);
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.course-notes {
    margin-left: -3%;
    padding-bottom: 20%;
}

.course-notes li {
    line-height: 1cm;
}

.foo {
    width: 2vw;
}

#footer {
    width: 79.4vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

#footer a {
    padding: 1vh;
    padding-right: 20px;
    float: right;
    text-decoration: none;
    color: rgb(28, 8, 58);
}

#footer ul {
    position: absolute;
    bottom: 0;
}

#footer li {
    display: inline;
    float: left;
    font-size: 1.5vw;
}

@media screen and (max-width: 321px) {
    .topic {
        font-size: 3vw;
    }
}
